@page
@model RazorPagesGuitarShop.Pages.Guitars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guitar</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guitar.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guitar.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guitar.ManufactureDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guitar.ManufactureDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guitar.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guitar.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guitar.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guitar.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Guitar.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
